<!--The content below is only a placeholder and can be replaced.-->


<head>
<style>
table, th, td {
  border: 1px solid brown;
}
</style>
</head>

<body>
<h1 style ="color:blue;">JANET'S BUDGET</h1>
 
<img src="../assets/budget2012.jpg" width="400px" height="300px" alt="">

<table style="width:20%">
  <tr>
    <th><h3 style="color:brown">Income</h3></th>
    <td>R2000</td>
    </tr>
  <tr>
    <th>Item</th>
    <th>Expense</th> 
    
  </tr>
  <tr>
    <td>Transport</td>
    <td>R600</td> 

  </tr>
  <tr>
    <td>hair</td>
    <td>R120</td> 
  </tr>
  <tr>
   <td>food</td>
   <td>R300</td>
  </tr>
  <tr>
  <td>clothing </td>
    <td>R300</td>
</tr>
</table>
<table>
  <tr>
    <td>Total amount </td>
    <td>R1320</td>
  </tr>
</table>
</body>

